.texts{
    margin-top: 140px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .text1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.2px;
        text-transform: capitalize;
        color: #ACACAC;
        margin-bottom: unset;
    }
    .text2{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 54px;
        letter-spacing: 0.002em;
        text-transform: capitalize;
        color: #666666;
    }
}
.listData{
    margin-top: 82px;
    .lists{
        display: flex;
        align-items: center;
        .ant-checkbox-inner{
            width: 18px;
            height: 18px;
            border: 2px solid #008594;
        }
        .ant-checkbox-checked .ant-checkbox-inner{
            background-color: #008594;
        }
        .task{
            width: 100%;
            margin-top: unset;
            margin-left: 35px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 32px;
            text-transform: capitalize;
            color: #666666;
        }
        .completedTask{
            width: 100%;
            margin-top: unset;
            margin-left: 35px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 32px;
            text-transform: capitalize;
            color: #ACACAC;
        }
        .delete{
            margin-right: 15.41px;
            text-align: end;
            cursor: pointer;
        }
    }
    .line{
        margin: 20px 0px 20px 0px;
        width: 100%;
        border: 1px solid #E5E5E5;
    }
 
}
.ant-modal-close{
    display: none;
}
.modalBlock{
    .question{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        text-transform: capitalize;
        color: #008594;
        text-align: center;
        margin-top: 28px;
        margin-bottom: unset;
    }
    .buttonsBlock{
        margin-top: 40px;
        margin-bottom: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        .yesButton{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            text-transform: capitalize;
            color: #174348;
            margin-right: 40px;
            cursor: pointer;
        }
        .noButton{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            text-transform: capitalize;
            color: #174348;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 414px){
    .listData{
        .lists{
            .task{
                font-size: 16px;
                line-height: 27px;
            }
        }
        .texts{
            .text1{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: 0.2px;
                text-transform: capitalize;
                color: #ACACAC;
            }
            .text2{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;
                letter-spacing: 0.002em;
                text-transform: capitalize;
                color: #666666;
            }
        }
    }
    .ant-modal-content{
        margin: 0px 25.5px;
        height: 140px;
    }
    .ant-modal-body{
        padding: unset;
    }
    .modalBlock{
        .question{
            padding-top: 27px;
        }
        .buttonsBlock{
            margin-top: 30px;
        }
    }
}

@media screen and (max-width: 375px){
    .ant-modal-content{
        margin: 0px 15px;
    }
} 

@media screen and (max-width: 320px){
    .ant-modal-content{
        margin: unset;
    }
}


